/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
  font-family: 'Roboto', sans-serif;
}
a {
	color: lightgrey;
	text-decoration:none;
}

a:hover {
	color: grey;
}
/**p span { */
	/* display:inline-block; */
	/* color: white; */
	/* font-style: italic; */
	/* background-color: black; */
	/* width: 200px; */
	/* height: 20px; */
/* } */

p span i:hover{
	color: black;
}


img {
	border-radius: 25px;
	background: black;
	padding: 1px;
	object-fit: cover;
	width: 200px;
	height: 170px;
}

span img {
	border-radius: 50%;
	background: black;
	padding: 1px;
	object-fit: cover;
	width: 150px;
	height: 150px;
}


i {
	padding: 7px;
	margin: 0px 0px 0px 15px;
}
i:hover {
	color: grey;
}


.side-nav {
  grid-area:side-nav;
}
.feed-box {
  grid-area:feed-box;
}
.grid-container{
  display: grid;
  grid-template-columns:  35% auto 25% 25%;
  grid-template-areas:
    'side-nav  feed-box feed-box feed-box'
    'side-nav  feed-box feed-box feed-box'
    'side-nav  feed-box feed-box feed-box';
}

.side-nav {
  color: white;
  background-color: black;
  padding: 20px;
  text-align: center;
  height:100%;

}
.side-nav-content{
  float:right;
}
.nav-title {
  font-family: 'Akronim', cursive;
  font-size: 40px;
  padding: 10px;

}
.nav-button{
  color: white;
  background-color: black;
  border: none;
  width:100px;
  display: block;
  text-align: left;
  padding: 5px;

}
.nav-button:hover{
	background-color: grey;
}

.nav-button:focus{
	background-color: darkgrey;
  outline:0;
}

.post-button {
  color: white;
  background-color: black;
  border: none;
  width:100px;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
}

.post-button:hover{
	background-color: grey;
}

.post-button:focus{
	background-color: darkgrey;
  outline:0;
}
.feed{
  text-align: center;
  padding: 20px;
}

.type-box {
  border-radius: 5px;
  border: 1px solid black;
  padding: 20px;
  margin:10px;
  width: 65%;

}
